<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Formulario de login -->
        <form class="modal-content bordes" id="logIn">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Log In</h5>
            </div>
            
            <div class="modal-body">
                    <div class="input-field">
                        <input required class="input" type="text" name="user" autocomplete="off" />
                        <label class="label" for="user">Enter Username</label>
                    </div>
                    <div class="input-field">
                        
                        <input required class="input" type="password" name="contrasena" autocomplete="off"/>
                        <label class="label" for="password">Enter Password</label>
                    </div>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="submitBtn">Log In</button>
            </div>
        </form>
    </div>
</div>