:root {
  --auxiliar-color: #6b46c1;
}

.panel_info_parques{
  position: fixed;
  margin-left: 1%;
  width: 40%;
  height: 25%;
  top: 70%;
  border-radius: 20px;
  padding: 5px;
  z-index: 1;
  backdrop-filter: blur(20px);
  transition: 1s;
  background-color: transparent;
}

.minimizado{
  background-color: transparent;
  backdrop-filter: blur(0px);
  width: 0%;
  height: 0%;
  top: 90%;
}

.z-index-2{
  z-index: 2;
}

.carousel-inner {
  height: 100%;
  display: flex;
  flex-direction: row;  
}

.nuevo_encabezado, .expand{
  color: rgba(255, 255, 255, 0.6);
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.nuevo_encabezado:hover, .expand:hover {
  color: rgb(255, 255, 255);
}

.list-granjas{
    max-height: 75vh;
    overflow-y: auto;
}

.card {
  height: 12vh;
  border: 1px solid white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-farm-card {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px dashed white;
  cursor: pointer;
  color: #fff;
}

.informacion{
  margin: auto;
  width: 80%;
  border-radius: 20px;
  background-color: rgba(0,0,0, 0.4);
  border: 1px solid white;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
}

.panel-body {
  max-height: calc(100% - 50px);
  overflow-y: auto;
  padding: 10px;
}

.open-panel-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(225deg, #5244E9 6%, #A870FF 95%);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

#panelInformacionGeneral
{
  position: absolute;
  display: none;
  border-radius: 8px;
  z-index: 2;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  backdrop-filter: blur(20px);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)); 
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 8%;
  left: 1%;
  width: 52.5%;
  height: 60%;
}