.molinos-panel {
  position: fixed;
  right: 1%;
  top: 37.5%;
  max-height: 57.5%;

  border-radius: 8px;
  overflow-y: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
  backdrop-filter: blur(20px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.close-panel-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.molinos-panel.closed {
  transform: translateX(110%);
}

.close-panel-btn:hover {
  opacity: 0.7;
}